*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    
}
.section1{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #2d0000;
} 
.top{
    margin: auto;
    height: 500px;
    background-repeat: no-repeat;
    object-fit: cover;
    background: url(https://lepure.in/cdn/shop/files/Le_Pure_Chocolatier_22-4-20258293_1920x647_3.png?v=1749816059&width=1800);
}
.bar{
    
    margin-left: 40px;
}
.icons{
    display: flex;
    text-align: center;
    color: white;
}
.icon{
    margin-right: 50px;
}
.icon:hover{
    color: grey;
}
.nav{
    align-items: center;
    text-align:center;
}
.nav ul,li,a{
    display:flex;
    list-style-type: none;
    margin-right: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.heading{
    margin-top: 150px;
    margin-left: 150px;
    color: white;
    font-size: 60px;
}
.rows{
    display: flex;
    justify-content: space-between;
    color: white;
}
.col1{
    text-align: center;
    margin-left:600px;
    margin-top: 100px;
}
.col1 img{
    max-width: 100%;
    padding: 50px 0;
}
.button{
    background-color:brown ;
    padding: 10px 20px;
    border-radius: 30px;
    border:transparent;
    text-align: center;

}
.row1{
    display: flex;
    flex-wrap: wrap;
}
.price{
    color: #5b1616;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.descri{
    margin-top: 40px;
}
.descri p{
     margin-top: 40px;
     color:gray;
}
.col2{
    margin-left: 100px;
}
.select{
    margin-top: 40px;
    display: grid;
}
.button1{
    padding: 10px;
    border:transparent;
    text-align: center;
    border: 1px solid gray;

}
.button2{
    padding: 10px;
    border:transparent;
    text-align: center;
    border: 1px solid gray;

}
.sel{
    margin-top: 20px;
    display: flex;
    gap: 3%;
     width: 400px;
}
.p2{
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    border: 1px solid gray;
    font-size: 20px;
}
.button1:hover{
    border:1px solid black;
}
.button2:hover{
    border:1px solid black;
}
.footer{
    margin-top: 0px;
    display: flex;
     justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;

}
.column{
    display: flex;
    padding: 10px;
}
.column a{
    text-decoration: none;
    color: grey;
}
.ic1{
    display: grid;
    padding: 30px;
    color: rgb(54, 53, 53);
    font-size: 30px;
}
.ic2 p{
    text-align: left;
    color: black;
    font-size: 30px;
}
.ic2 a,ul{
    text-align: center;
    list-style-type: none;
    color: grey;
}
.ic3{
    color: black;
    font-size: 30px;
}
.ic4{
    color: grey;
}
.mail{
    padding-top: 68px;
}
.image{
    margin-top: 50px;
    margin-left: 50px;
}
.ic5 h1{
     display: grid;
    padding: 30px;
    color: rgb(54, 53, 53);
    font-size: 30px;
    margin-left: 50px;

}
.ic5 p{
    color: black;
    margin-left: 80px;
}
.view3 a{
    padding: 10px;
    background-color: brown;
    border-radius: 30px;
    width: 200px;
     margin-left: 80px;
     justify-content: center;
     color: white;
}
.bottom{
    color: gray;
    text-align: center;
}